{
  "arrowParens": "always",
  "attributeGroups": [
    "^v-is$",
    "^is$",
    "^v-for$",
    "^v-if$",
    "^v-else-if$",
    "^v-else$",
    "^v-show$",
    "^v-pre$",
    "^v-once$",
    "^id$",
    "^:id$",
    "^ref$",
    "^:ref$",
    "^key$",
    "^:key$",
    "^v-slot",
    "^#",
    "^v-model",
    "^v-(?!on|bind|model|if|else|show|for|slot|pre|once).*",
    "^class$",
    "^:class$",
    "^style$",
    "^:style$",
    "^:[^@].*",
    "^[a-zA-Z].*",
    "^@",
    "^v-on:",
    "^v-text$",
    "^v-html$",
    "$DEFAULT"
  ],
  "attributeSort": "ASC",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "printWidth": 100,
  "semi": false,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "plugins": ["prettier-plugin-organize-attributes", "prettier-plugin-tailwindcss"]
}
