:root {
  --c-gray-50: #f9fafb;
  --c-gray-100: #f3f4f6;
  --c-gray-200: #e5e7eb;
  --c-gray-300: #d1d5db;
  --c-gray-400: #9ca3af;
  --c-gray-600: #4b5563;
  --c-gray-900: #111827;
  --c-yellow-400: #fbbf24;
  --bg: var(--c-gray-50);
  --text: var(--c-gray-900);
  --text-secondary: var(--c-gray-400);
}

.dark-mode {
  --bg: var(--c-gray-900);
  --text: var(--c-gray-50);
}
